<%- include('partials/header') %>


<div class="jumbotron centered">
 <p>
  The Website Terms & Conditions is a legal document that details the terms and 
  conditions that the user must abide by while using the website. 
  The website terms and conditions agreement details the license of the copyright in
   the website, includes a disclaimer of liability, an acceptable use clause, a variation
    clause, a clause specifying the applicable law and jurisdiction and other legal
     information.
 </p>
</div>

<%- include('partials/footer') %>
